.container {
  padding: 0 24px;

  @media (min-width: 640px) {
    padding: 0 36px;
  }

  @media (min-width: 1024px) {
    max-width: 1200px;
    padding: 0 48px;
    margin: 0 auto;
  }
}